header {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  flex-wrap: wrap;
  align-items: center;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
}

.list-nav a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}
